<head>
  <!--[if IE 7]>
   <style type="text/css">
   .logo {
    top: -25px!important;;
    float: left !important;
    position: relative !important;
    }
   #button_list_property_external
   { bottom: 70px!important;}
   </style>
  <![endif]-->
</head>
<div class="container">
      <div class="top">
          <p class="profile"></p>
          <ul class="" style="margin-bottom: 6px;">
              <li ><a href="/register" class="signup_external"></a></li>
              <li><a href="/login" class="login_external"></a></li>
	      <li ><a href="/my/properties/new" class="list_your_property_home" id="button_list_property_external" > &nbsp; </a></li>
          </ul>
      </div>
      <a  href="/">
        <div class="logo">Boxyroom</div>
      </a>
  </div>
</div>
<script type="text/javascript">
function nilkey(){

 var v1 = document.getElementById("nilvalue")
 v1.value = ""

}
function search()
{
 var v1 = document.getElementById("nilvalue")
 v1.value = "search"

}
</script>