<table class="table_class">
    <TR class="fix_height_tr" align="center"> 
          <TD class="fix_width_td" ><div id="div1" onclick="set_css_color(this)" class="select_css <% if current_object_css == "rgb(88, 137, 205)"%><%="set_class_css"%> <%end%>" style="background-color:rgb(88, 137, 205);"></div></TD> 
          <TD class="fix_width_td"><div id="div2"  onclick="set_css_color(this)" class="select_css <% if current_object_css == "rgb(55, 156, 122)"%><%="set_class_css"%> <%end%>" style="background-color:rgb(55, 156, 122);"></div></TD>
          <TD class="fix_width_td"> <div id="div3"  onclick="set_css_color(this)" class="select_css <% if current_object_css == "rgb(141, 60, 34)"%><%="set_class_css"%> <%end%>" style="background-color:rgb(141, 60, 34);"></div></TD> 
    </TR>
</table>
