  <tr >
      <td onMouseOver="this.style.backgroundColor='#FFFFFF'"; onMouseOut="this.style.backgroundColor='transparent'"> 
        <%= display_feeds(feed) %>
  <div class="time" style="font-size: 0.7em; font-weight: normal; color:#454545; text-align: right;"><%= time_in_words(feed.created_at)%> ago
      </td>
</tr>
<tr><td></div><div class="investor_dir_border"></div></td></tr>	