<div>
  <div class="text_align_right">
      <a onclick="lightbox_controller.close();" id="streetview_close" href="#">
          <img src="/images/active_scaffold/default/close.gif"/>
      </a>
   </div>
   <div class="text_align_center">
      <b>Message sent successfully</b>
    </div>
</div>