<h2>Contract Detail</h2><br>
<b>State: </b><%= @super_contract_integration.state.name %><br><br>
<b>Contract: </b><br><br>
<%= @super_contract_integration.contract %><br><br>
<%= link_to 'Edit', edit_admin_super_contract_integration_path(@super_contract_integration) %> |
<%= link_to 'Back', admin_super_contract_integrations_path %>