<%- @page_title = "Austin Real Estate Property Texas: Privacy Policy" -%>
<%- @page_heading = "Privacy Policy" -%>
<%- @meta_description = "REIMatcher takes privacy very seriously and makes every effort to preserve user privacy for Austin Real Estate Property Owners and Property Buyers." -%>
<%- @meta_keywords = "Austin real estate property, Privacy Policy, dwellgo, Austin Real Estate" -%>
<%= render :partial=> "/shared/privacy" %>