<%- @page_title = "Austin Real Estate Property Texas: Terms of Use" -%>
<%- @page_heading = "<p style='margin-left:300px;color:green;'>Terms of Use</p>" -%>
<%- @meta_description = "REIMatcher’s Terms of Use Agreement for Austin Real Estate Property Owner and Property Buyer subscriptions." -%>
<%- @meta_keywords = "Austin real estate property, terms of use, dwellgo, Austin Real Estate" -%>
<%= render :partial=> "/shared/terms_of_use" %>