<div class="widecontent">
	<h1 class="main_head">Your Cancellation request has been processed. </h1>			
	<h1 class="sub_head">If you have any further questions please contact our Customer Support 
	at <br />
	(512) 853-9522 ext. 112. <br />
	<br />
	Thank you and best of luck! </h1>
	<p class="sub_head">&nbsp;</p>
	<p class="sub_head">&nbsp;</p>
	<p class="sub_head">&nbsp;</p>
	<p class="sub_head">&nbsp;</p>
</div>
