<div id="drag_drop_lightbox"  style="position: relative" >
  <div style="display:none;z-index:-1000;" id="overlay_Lightbox"></div>
  <div style="display:none;height:450px;width:400px;" id="lightbox_contents">Lightbox</div>
</div>

<script type="text/javascript">
  Drag.init(document.getElementById("drag_drop_lightbox"));
</script>
