<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>TERMS and CONDITIONS of USE</title>
<%= stylesheet_link_tag "amps_sp3", "amps_commons_#{@color}" %>
</head>

<body>
<div id="wrap">
	<div id="header">
		<div id="wrap-top">
			<h1>TERMS and CONDITIONS of USE</h1>
		</div>
	</div>

	<div id="content">
		
		<div id="left" style="width:auto;">
                  <%= render :partial => "/shared/terms_of_use_amps" %>
		</div>
		
		<div class="clear"></div>
		
	</div>
	
	<div id="wrap-bottom"><%= render :partial => "/shared/amps_footer" %></div>
</div>
</body>
</html>
