<p>
  <b>Profile:</b>
  <%=h @profile_favorite.profile_id %>
</p>

<p>
  <b>Target profile:</b>
  <%=h @profile_favorite.target_profile_id %>
</p>

<p>
  <b>Created at:</b>
  <%=h @profile_favorite.created_at %>
</p>


<%= link_to 'Edit', edit_profile_profile_favorite_path(@profile_favorite) %> |
<%= link_to 'Back', profile_profile_favorites_path %>