<fieldset id="travel">
  <div class="clr"></div>
  <div class="select_list">
    <label>Previous Destination:</label>
    <p class="r">
        <input value="<%= @application.profile.previous_destination %>" type="text" name="Previous" id="Previous" />
    </p>
  </div>
  <div class="clr"></div>
  <div class="select_list">
    <label>Next Destination:</label>
    <p class="r">
        <input value="<%= @application.profile.next_destination %>" type="text" name="Next" id="Next" />
    </p>
  </div>
  <div class="clr"></div>
</fieldset>