    <h1>About Us</h1><br>
    <% business_name = @investor_website.user.user_company_info.business_name unless @investor_website.user.user_company_info.blank?%>
    <% unless business_name.blank? %>
      <%= display_investor_page_text('about').to_s.gsub("{Subscriber Company name}",business_name).gsub("Company name",business_name).gsub("Business Name",business_name)%>
    <% else %>
      <%= display_investor_page_text('about') %>
    <% end %>
