<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

   <title>REI Matcher</title>
<script type="text/javascript" src="http://static.flowplayer.org/js/flowplayer-3.2.6.min.js"></script>
<script src="http://static.flowplayer.org/js/flowplayer-3.2.6.min.js"></script>
<script src="http://static.flowplayer.org/js/flowplayer.ipad-3.2.2.min.js"></script>
   
   <META NAME="robots" CONTENT="all, index, follow">
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<%= stylesheet_link_tag "pro_upsell_offer" %>   
	<!--[if IE 6]>
	<link href="css/ie-6.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
	
	<!--[if IE 7]>
	<link href="css/ie-7.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
	
	<!--[if IE 6]>
	<script type="text/javascript" src="js/ie6pngifx.js"></script>
	<![endif]-->
</head>

<body>
<div id="container">

  	<div id="header">
			<a href="#"><img id="logo" src="/images/logo.png" alt="REI Matcher" width="500" height="107" /></a>
  	</div><!--end header-->
				
  	<div id="main">
	
	<div style="clear:both; height: 10px;"></div>
	

  				<div align="center">
		    <h1 class="main_head" style="font-size:30px">Thank You! You now have REIMatcher Pro Access!!	      <br />
		      </h1>
		    <table width="680" border="0" cellpadding="1" cellspacing="0" bgcolor="#CCCCCC">
              <tr>
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="10">
                  <tr>
                    <td width="290" valign="top"><h1 class="sub_head" style="font-size:24px">Brand New to REIMatcher?</h1>
                    <p align="center" class="sub_head"><em><strong>In order to access your REIMatcher membership you'll need to activate your account, watch the video below for instructions!</strong></em><br />
                      <br />
                    </p>                    </td>
                    <td width="311"><h1 class="sub_head"  style="font-size:24px">Are You A Current user?</h1>
                    <p align="center" class="sub_head">Thank you for joining the REIMatcher PRO Community! No further action is required to begin accessing the many new features available to you; the changes to your account have been applied automatically. <a href="http://www.reimatcher.com/account/profiles">Go to Dashboard</a> -   Happy Investing! </p></td>
                  </tr>
                  <tr>
                    <td colspan="2"><div id="video-truth">
                      <div id="mediaspace-truth">
                          <center>
                            <div id="evp-e9e81fa44335c9c97e57a820143a5703-wrap" class="evp-video-wrap"></div><script type="text/javascript" src="http://www.damonflowers.com/evp/framework.php?div_id=evp-e9e81fa44335c9c97e57a820143a5703&id=cmVpbS11cHNlbGwubW92&v=1329104557&profile=default"></script><script type="text/javascript"><!--
_evpInit('cmVpbS11cHNlbGwubW92[evp-e9e81fa44335c9c97e57a820143a5703]');//--></script></center></div>
                    </div></td>
                  </tr>
                </table></td>
              </tr>
            </table>
		    <hr />
		    <h1 class="main_head" style="font-size:30px">&nbsp;</h1>
		    <table width="640" border="0" cellpadding="1" cellspacing="0" bgcolor="#CCCCCC">
              <tr>
                <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><h1 class="main_head" style="font-size:10px">&nbsp;</h1>
                          <h1 class="sub_head"><br />
                            <br />
                        </h1>
                      </td>
                    </tr>
                    <tr>
                      <td width="630"><div id="video-truth2">
                        <div id="mediaspace-truth2"></div>
                      </div></td>
                    </tr>
                </table></td>
              </tr>
            </table>
		    <h1 class="rsvp"><br />
            </h1>
            <!-- End: Hidden Content -->
  </div>
  
  
  </div><!--end main-->
  	
  
    <div id="footer">
    	<div id="copyright">&copy; Copyright 2012 REI Technologies</div>
  	</div><!--end footer-->
  
  
</div><!--end container-->
<script type="text/javascript">
	flowplayer("mediaspace-truth","http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf", {
		plugins:{
			controls:null
		},
		playlist: [
			{
				url: 'http://bizampbeta.com/reimatcher/rei-pro/media/splash.png', 
				scaling: 'orig'
			},
			{
				url: 'https://s3.amazonaws.com/evp-4de3dcd71f57a-f067263ed738e695ecebff09583f3f59/Activation+Video+5.mp4', 
				autoPlay: true,
				autoBuffering: true 
			}
		]
	});
	
	function showContent(){
		$("#hiddenContent").fadeIn("slow");
		clearTimeout(to);
	}
	$(function() {
		var to = setTimeout("showContent()", 5000);
	}).ipad();
</script>

  
</body>

</html>

