<div id="coming_soon">
  <h1><em>404:</em> Page Not Found</h1>
  <div class="description">
    We're sorry but the page you're looking can't be found.
  </div>
  <div class="links">
    Please click <%= link_to "here", root_path %> to go back to our home page.
  </div>
</div>