<div id="coming_soon">
  <h1><em>500:</em> Internal Server Error</h1>
  <div class="description">
    We'll be back shortly.
  </div>
  <div class="links">
    Boxyroom will be down for a brief period while we make some changes. Please do check back 15 minutes later.
  </div>
</div>