Dear <%= @name %>,

At your request, <%= @app_name %> has changed your password. As a reminder, your login username is: <%= @login %>

If this change was not at your request, then you should be aware that someone has access to your account and requested this change. We never email passwords, so keep in mind that someone has obtained your password by other means. If you wish, you may request another password change by using the 'Forgot Password' link on the login page.

If you have any questions, contact us through the the Support link at www.reimatcher.com

Thank you for using <%= @app_name %>!
