The following feedback was submitted:

Name: <%=@feedback.first_name%> <%=@feedback.last_name%>
Email: <%=@feedback.email%>
User ID: <%=@feedback.user_id%>
IP Address: <%=@feedback.ip_address%>
Comments:
<%=@feedback.comments%>

