<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Welcome to REIMatcher</title>
</head>
<body>
<%= display_email_with_assign_values_for_seller_responder(@investor, @notification_email_body, @seller_profile, @seller_property_profile) %>

<br><br>
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr>
          <td width="100%" bgcolor="#ffffff">
            <p style="font-family:arial,helvetica,sans-serif; font-size:12px; line-height:20px; color:#5e5e5e; margin: 0px 0px 5px;">This message was sent to <%= @recipients%> from:</p>
            <p style="font-family:arial,helvetica,sans-serif; font-size:12px; line-height:20px; color:#5e5e5e; margin: 0px 0px 5px;">REI Technologies | 5114 Balcones Woods Ste 307 | Austin, TX 78759</p>
          </td>
       </tr>
  </table>
  
  
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td bgcolor="#FFFFFF">
              <%  url_for_subscription = REIMATCHER_URL + "manage_subscriptions/" + @seller_property_profile.id.to_s + "/seller_responder_subscription_management" %>
            <a href="<%=url_for_subscription%>" style="font-family: Arial, Helvetica, san-serif; font-size: 12px; line-height: 20px; color: #115880; font-weight: bold; text-decoration: none;">
                    Manage Your Subscription
            </a>
        </td>
    </tr>
</table>
</body>