<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Welcome to REIMatcher</title>
</head>
<body>
<p>Hi <%= @user.first_name %></p>
<p>Our Customer Service team has noticed that your last payment for REIMatcher did not go through.</p>
<p>Please contact our billing department at 512-853-9522 x 112 to update your payment information and avoid losing access to your account.</p>
<p>If you've already updated your credit card information, then we're sorry to bug you...please disregard.</p>
<p>Happy Investing,</p>
<p>- The REIMatcher Team</p>
</body>