Your account has been created.

  Username: <%= @user.login %>
  Password: <%= @user.password %>

Please click on the link below to activate your account and start using reimatcher:

<%= @url %>
