<div id="coming_soon">

  <h1><em>Boxyroom</em> is Coming Soon!</h1>

  <div class="description">
    A new way to find and book your rental property overseas from home.<br />
    <strong>Effortlessly and Securely.</strong>
  </div>
  
  <div class="links">
    Meanwhile, catch up with the latest happenings on Boxyroom on <br/>
    <a href="http://www.facebook.com/pages/Boxyroom/280933772469">Facebook</a> |
    <a href="http://twitter.com/boxyroomrocks">Twitter</a> |
    <a href="http://boxyroom.tumblr.com/">Blog</a>
  </div>

</div>