<div id="content">
  <div class="howitwork_container space2">
    <div class="primary">
      <div class="howitwork_heading">
        <div class="howitwork_heading_left_corner"></div>
        <div class="howitwork_heading_middle_corner">
          <div class="contact_heading_icon"></div>
          <div class="howitwork_txt">Contact Us</div>
        </div>
        <div class="howitwork_heading_right_corner"></div>
      </div>
    <div class="howitwork_main_content">
     <div class="howitwork_content">
	  <div class="contact_text">
            <p>The people at Boxyroom are delighted to hear from you.</p>
            <p>You can reach us by email at <a href="mailto:contact@boxyroom.com">contact@boxyroom.com</a>.</p>
            <p>We promise to get back to you as soon as we can. </p>
           </div>
      </div>
      <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
     <div class="howitwork_bottm_corner_row contact_align_center">
              <div class="howitwork_bottm_leftcor"></div>
              <div class="howitwork_bottm_middle"></div>
              <div class="howitwork_bottm_rightcor"></div>
     </div>
     <div class="clr"></div>
      </div>
    </div>
  </div>
</div>