<div id="content">
			<div class="howitwork_container space2">
    <div class="primary">
      <div class="howitwork_heading">
        <div class="howitwork_heading_left_corner"></div>
        <div class="howitwork_heading_middle_corner">
          <div class="faq_heading_icon"></div>
          <div class="howitwork_txt">FAQ</div>
        </div>
        <div class="howitwork_heading_right_corner"></div>
      </div>
        <div class="howitwork_main_content">
          <div class="howitwork_content">
          <p class="main_terms_point space2">GENERAL </p>
        <div class="faq_full_text"><h3>Q: What is Boxyroom?</h3><p class="learn_p"><span>A:</span> Boxyroom allows you to reserve your overseas rental space in foreign cities securely from the comfort of your home. </p>
	     </div>
         
         
        <div class="faq_full_text"><h3>Q: Why Boxyroom?</h3><p class="learn_p"><span>A:</span> Having lived temporarily overseas in the past, we understand the frustration and fears of finding a suitable place to stay before one leaves home. We often ended up staying in a hotel at the destination for a week to search of a rental property. This wastes time and money. We're here to help. </p>
	     </div>
         
         
         <div class="faq_full_text"><h3>Q: What's so great about Boxyroom?</h3><p class="learn_p"><span>A:</span> <b>As a tenant, you can</b></p>
         	<ul>
            	<li style="margin-top:5px">reserve your ideal rental space  totally free!</li>
                <li>get back 100% of your deposit if the landlord cancels your reservation or misrepresents the description of her rental property. </li>
				<li>sort out all your housing needs before arriving at your destination. No more holing up in hotels just to find a suitable rental space.</li>
				<li>avoid handing the deposit to potential scammers who pose as landlords.</li>
            </ul><br>
            <ul><b>As a landlord, you can </b>
            	<li style="margin-top:5px;">list your rental properties for free, for as long as you wish.</li>
	        <li>avoid paying property agents hefty fees and commissions. </li>
                <li>screen your potential tenants so that you select your most suitable tenants.</li>
		<li>receive money when the tenants fails to turn up or cancels her reservation.</li>
            </ul>
         </div>
         
         <div class="faq_full_text"><h3>Q: How does Boxyroom work?</h3><p class="learn_p"><span>A:</span> Very simple! </p><br>
         	<ul><span>Tenants</span>
            	<li class="faq_number_li"><span>1. Search for property</span><br>Enter the city or country where you plan to rent.</li>
				<li class="faq_number_li"><span>2. Submit application</span><br>Fill up and send pre-tenancy application form to landlord.</li>
                <li class="faq_number_li"><span>3. Pay deposit</span><br>Once the landlord has selected you as a suitable tenant, you can secure the property by transferring a deposit equivalent to one month rent to Boxyroom within 48 hours.</li>
                <li class="faq_number_li"><span>4. Move In</span><br>Once you're satisfied and move into your new rental space, hand the payment code to the landlord.</li>
            </ul><br>
            <ul><span>Landlord</span>
            	<li class="faq_number_li"><span>1. List your property</span><br>List your property for free in a few easy steps.</li>
                <li class="faq_number_li"><span>2. Receive rental applications</span><br>Screen potential tenants using the built-in pre-tenancy application forms.</li>
                <li class="faq_number_li"><span>3. Welcome your tenant</span><br>After you selected a suitable tenant, she can secure your property by transferring a deposit equivalent to one month rent to Boxyroom. We will safeguard the deposit until the tenant moves into your property.</li>
				<li class="faq_number_li"><span>4. Receive your deposit</span><br>The tenant will hand you a payment code to withdraw the deposit to your Paypal account.</li>
            </ul>
            
         </div>
         
         
	     
	     <div class="faq_full_text"><h3>Q: Is Boxyroom safe?</h3><p class="learn_p"><span>A:</span> We are committed to protect all our users from fraud. All payments are made through Paypal, the world's most popular online payment service. </p>
	     </div>
         
         <div class="faq_full_text"><h3>Q: What is Paypal?</h3><p class="learn_p"><span>A:</span> Paypal lets you send and receive money over the Internet securely. Sign up for an account at <a href="http://www.paypal.com">www.paypal.com</a>. Follow the simple instructions.</p>
         	<ul>
            	<li>Set up Paypal account using this <a href ="https://personal.paypal.com/us/cgi-bin/marketingweb?cmd=_render-content&content_ID=marketing_us/Account_SetUp">link</a> </li>
				<li>To see how Paypal works, click <a href="https://cms.paypal.com/us/cgi-bin/marketingweb?cmd=_render-content&content_ID=marketing_us/pp101_HowPPWorks_demo">here</a> </li>
             </ul>
	     </div>
         
         
          <div class="faq_full_text"><h3>Q: Do I need to pay to use Boxyroom?</h3><p class="learn_p"><span>A:</span> It's free to sign up, search for properties, post as many properties for as long as you want. We charge landlords an administrative fee of 10% of monthly rent for successful reservations made over Boxyroom. </p>
          </div>
           
           <div class="faq_full_text"><h3>Q: Is the deposit paid to Boxyroom considered my first month rent?</h3><p class="learn_p"><span>A:</span> Yes.</p></div>
           
           <div class="faq_full_text"><h3>Q: Are you international?</h3><p class="learn_p"><span>A:</span> Yes. We go as far as the Internet reaches. </p></div><br>

          
          <p class="main_terms_point space2">TENANT</p>
	     <div class="faq_full_text"><h3>Q: Why can't I find any property listings in my destination?</h3><p class="learn_p"><span>A:</span> There's currently no property for rent in that city.  </p>
	     </div>
         
         
         
         
        <div class="faq_full_text"><h3>Q: What does the tenant do with the confirmation code?</h3><p class="learn_p"><span>A:</span> Once you're satisfied with the property and have signed the rental agreement with the landlord, let the landlord know the confirmation code.</p>
	     </div>


         <div class="faq_full_text"><h3>Q: How are tenants protected?</h3><p class="learn_p"><span>A:</span> Your deposit is held securely in Paypal and will only be released to the landlord once we verify successfully the confirmation code given by the tenant to the landlord. This means that</p>
         
         	<ul>
            	<li>fraudsters can't escape with your money. </li>
		<li>landlords have the incentive to provide truthful information about themselves and their properties. </li>
		<li>you get money-back guarantee. We'll return your deposit if the rental fails to take place.</li>
            </ul>
	      </div>
          
          
          <div class="faq_full_text"><h3>Q: How to confirm my reservation?</h3><p class="learn_p"><span>A:</span> After the landlord accepts your application, you need to pay a deposit through Boxyroom using Paypal. Once we receive the deposit, the landlord will be informed to reserve the property for you. </p>
          </div>
          
          <div class="faq_full_text"><h3>Q: How much deposit do I pay?</h3><p class="learn_p"><span>A:</span> One month of listed monthly rent. </p></div>
          <div class="faq_full_text"><h3>Q: Where does my deposit go to? Does it go to the landlord directly?</h3><p class="learn_p"><span>A:</span> Your deposit will be kept in the safe hands of Paypal until you move in. We'll release the deposit to the landlord once she enters the confirmation code given by the tenant.  </p></div>
          
          <div class="faq_full_text"><h3>Q: Is the deposit considered a security deposit?</h3><p class="learn_p"><span>A:</span> No. You need to pay the landlord the required security deposit upon signing the tenancy agreement.</p></div>
          
          <div class="faq_full_text"><h3>Q: What if I can't contact the landlord just before I leave home or after I arrived?</h3><p class="learn_p">
<span>A:</span> We'll disclose the contact information of the landlord upon receiving the deposit. It is important to make proper arrangement with the landlord regarding arrival and transport details. </p></div>

	 	 <div class="faq_full_text"><h3>Q: What to do if I'm unhappy with the property after I arrived?</h3><p class="learn_p"><span>A:</span> Negotiate with the landlord to reach a compromise or decline to sign the tenancy agreement. If you decide not to move in, contact Boxyroom Customer Care. </p></div>
          
          <div class="faq_full_text"><h3>Q: What should I do when I arrive at the rental property?</h3><p class="learn_p"><span>A:</span> Get in touch with the landlord as soon as you arrive at the destination. Make sure that there's someone to receive you at your rental property before you set off from the airport or train station. </p>
          </div>
          
          <div class="faq_full_text"><h3>Q: Can I cancel my reservation?</h3><p class="learn_p"><span>A:</span> Yes. Cancellation fee applies.  </p></div>
          
          <div class="faq_full_text"><h3>Q: How much is the cancellation fee?</h3><p class="learn_p"><span>A:</span> US$50 plus 75% percentage of deposit.</p></div>
          
          <div class="faq_full_text"><h3>Q: How do I get to my rental property?</h3><p class="learn_p"><span>A:</span> Check with the landlord for the best way to reach the property. </p></div>
          
          <div class="faq_full_text"><h3>Q: How do I know the landlords and properties are genuine?</h3><p class="learn_p"><span>A:</span> Boxyroom makes all efforts to ensure that first-time listings are genuine. Positive reviews of landlords and listings are good indication of authenticity. Landlords are encouraged to submit documents (such as untility bills, phone bills and city council registration) to proof that the landlord and property are real.</p></div>
          
          <div class="faq_full_text"><h3>Q: After paying the deposit, do I still need to sign a tenancy agreement with landlord?</h3><p class="learn_p"><span>A:</span> Yes. The landlord will state all the terms of rental in the tenancy agreement. </p></div>
          
          <div class="faq_full_text"><h3>Q: Can I get my money back if the landlord cancels my reservation or if the property is not what is described?</h3><p class="learn_p"><span>A:</span> If the rental is unsuccessful due circumstances beyond your control, contact Boxyroom Customer Care immediately. We'll investigate and give you a full refund if the circumstances are found not to be in your favour.  </p></div>
          
          <div class="faq_full_text"><h3>Q: What do I do if the property I reserved is already occupied when I arrive?</h3><p class="learn_p"><span>A:</span> Contact Boxyroom Customer Care immediately. We'll help you find an alternative property or give you a full refund.  </p></div>
          
          <div class="faq_full_text"><h3>Q: Can I change my arrival date?</h3><p class="learn_p"><span>A:</span> Yes. Do maintain the most updated arrival date in your profile. This will help the landlord to prepare and welcome you. </p>
          </div>
          
          <div class="faq_full_text"><h3>Q: I've changed my mind. How to reserve another property?</h3><p class="learn_p"><span>A:</span> You'll need to cancel the existing property and resubmit an application for another one. Cancellation fee applies. </p>
          </div><br>
          
          
          <p class="main_terms_point space2">LANDLORDS</p>
           <div class="faq_full_text"><h3>Q: How to list properties?</h3><p class="learn_p"><span>A:</span> Sign up an account. Click on 'List a Property' tab. </p>
	       </div>
          
          <div class="faq_full_text"><h3>Q: What does the landlord do with the confirmation code?</h3><p class="learn_p"><span>A:</span> Log into your Boxyroom account and select the property for which you've received the confirmation code. Select 'Enter code' and fill in the code. Boxyroom will verify the code and release the deposit to you.</p>
	       </div>
           
           <div class="faq_full_text"><h3>Q: What information do I provide in a listing?</h3><p class="learn_p"><span>A:</span> To increase your rental opportunities and ensure that all parties of the rental deal is happy, you must describe your property as accurately as possible. You can also upload photos and videos of the property and surroundings. The more information, the better. </p>
	       </div>
           
           <div class="faq_full_text"><h3>Q: Can I list more than one property?</h3><p class="learn_p"><span>A:</span> Yes, you can list as many properties as you wish.  </p></div>
           
           <div class="faq_full_text"><h3>Q: How to list if I want to rent out multiple rooms in one property? </h3><p class="learn_p"><span>A:</span> You can create a listing for each room easily using the duplicate function when you create a listing. </p>
           </div>
           
           <div class="faq_full_text"><h3>Q: Can I edit or delete my listings? </h3><p class="learn_p"><span>A:</span> Yes. Log into your account. View your properties. Select the property to edit or delete.  </p>
           </div>
           
           <div class="faq_full_text"><h3>Q: What happens to my listing after it's rented out?</h3><p class="learn_p"><span>A:</span> As soon as the tenant pays the deposit, the listing of that property will be disabled and won't appear in search results. </p>
           </div>
           
           <div class="faq_full_text"><h3>Q: Can I relist the same property for a future period?</h3><p class="learn_p"><span>A:</span> Yes. You can relist your property anytime.</p>
           </div>
           
           <div class="faq_full_text"><h3>Q: How are landlords protected from last minute cancellations?</h3><p class="learn_p"><span>A:</span> We guarantee tenants' commitment to rent once they pay the deposit to us. If tenants cancel their reservation, you'll receive 75% of deposit .</p>
           </div>
           
           <div class="faq_full_text"><h3>Q: How much is the administrative fee?</h3><p class="learn_p"><span>A:</span> One-time fee of 10% of monthly rent. </p></div>
           
           <div class="faq_full_text"><h3>Q: When I receive the deposit from Boxyroom, does that count as the tenant's payment for first month rent?</h3><p class="learn_p"><span>A:</span> Yes.</p></div>
           
           <div class="faq_full_text"><h3>Q: Can I screen potential tenants?</h3><p class="learn_p"><span>A:</span> Yes. By reviewing the tenant's online pre-tenancy application form, you can decide to approve or reject her application. </p></div>
           
           <div class="faq_full_text"><h3>Q: Do I need to provide the tenancy agreement?</h3><p class="learn_p"><span>A:</span> Yes. You need to prepare a tenancy agreement and other documents, according to your local regulations.  </p></div>
           
           <div class="faq_full_text"><h3>Q: How do I collect the security deposit?</h3><p class="learn_p"><span>A:</span> You collect the security deposit from the tenant upon signing the tenancy agreement.  </p></div>
           
           <div class="faq_full_text"><h3>Q: When do I get paid?</h3><p class="learn_p"><span>A:</span> As soon as we successfully verify the confirmation code which you enter in your account.   </p></div>
           
           <div class="faq_full_text"><h3>Q: How much do I receive from Boxyroom?</h3><p class="learn_p"><span>A:</span> You'll receive the deposit minus one-off fee of 10% of monthly rent. </p>
           </div>
           
                <div class="faq_full_text"><h3>Example 1: </h3><p class="learn_p">Assuming monthly rent is $800 and rental period is 4 months.</p>
                    <p>Deposit = One month rent = $400</p>
                    <p>Boxyroom fee = 10% of $400 = $40</p>
                    <p>Payout to landlord = Deposit - Fee = $400 - $40 = <b>$360</b></p>
                </div>
                
                <div class="faq_full_text"><h3>Example 2: </h3><p class="learn_p">Assuming monthly rent is $1,000 and rental period is 12 months.</p>
                    <p>Deposit = One month rent = $1,000</p>
                    <p>Boxyroom fee = 10% of $1,000 = $100</p>
                    <p>Payout to landlord = Deposit - Fee = $1,000 - $100 = <b>$900</b></p>
                </div>
           
           <div class="faq_full_text"><h3>Q: How can I be sure that I'll be paid?</h3><p class="learn_p"><span>A:</span> Contact Boxyroom Customer Care if you didn't receive your payment. </p></div>
		



        
        
         
        </div>
        
        <div class="clr"></div>
      </div>
      
    
      
      
      <div class="clr"></div>
    </div>
    
  
  
     <div class="howitwork_bottm_corner_row">
              <div class="howitwork_bottm_leftcor"></div>
              <div class="howitwork_bottm_middle"></div>
              <div class="howitwork_bottm_rightcor"></div>
     </div>   
            
            <div class="clr"></div>
		</div>
