
<div id="content">
  <div class="howitwork_container">
    <div class="primary">
      <div class="howitwork_heading">
        <div class="howitwork_heading_left_corner"></div>
        <div class="howitwork_heading_middle_corner">
          <div class="howitwork_heading_icon"></div>
          <div class="howitwork_txt">How it works</div>
        </div>
        <div class="howitwork_heading_right_corner"></div>
      </div>
      <div class="howitwork_main_content">
        <div class="howitwork_content">Find the right rental property in foreign cities or to list your property for rent. Boxyroom acts as a matchmaker between the landlord and the tenant to initiate the rental process.
        </div>
        <div class="howitwork_subheading_row">
          <div class="htw_subheading_left_cor"></div>
          <div class="htw_subheading_middle_bg">
            <div class="htw_heading_landlord_icon"></div>
            <div class="htw_heading_txt">Landlord</div>
          </div>
          <div class="htw_subheading_right_cor"></div>
        </div>
        <div class="landlord_content">
	  <div class="how_works">
	    <span>1</span><h3> List your property </h3>
	    <p>List your property for free in a few easy steps.</p>
	  </div>
	  <div class="how_works">
            <span>2</span><h3> Receive rental applications</h3>
            <p>Screen potential tenants using the built-in pre-tenancy application forms</p>
	  </div>
	  <div class="how_works">
            <span>3</span><h3> Welcome your tenant</h3>
            <p>After you selected a suitable tenant, she can secure your property by transferring a deposit equivalent to one month rent to Boxyroom. We will safeguard the deposit until the tenant moves into your property.</p>
	  </div>
	  <div class="how_works">
            <span>4</span><h3> Receive your deposit</h3>
            <p>The tenant will hand you a payment code to withdraw the deposit to your Paypal account</p>
          </div>
	  <div class="clear"></div>
	</div>
        <div class="howitwork_subheading_row">
          <div class="htw_subheading_left_cor"></div>
          <div class="htw_subheading_middle_bg">
            <div class="htw_heading_tenant_icon"></div>
            <div class="htw_heading_txt">Tenant</div>
          </div>
          <div class="htw_subheading_right_cor"></div>
        </div>
        <div class="landlord_content">
	  <div class="how_works">
            <span>1</span><h3> Search for property</h3>
            <p>Enter the city or country where you plan to rent</p>
	  </div>
	  <div class="how_works">
            <span>2</span><h3> Submit application</h3>
            <p>Fill up and send pre-tenancy application form to landlord</p>
	  </div>
	  <div class="how_works">
            <span>3</span> <h3>Pay deposit</h3>
            <p>Once the landlord has selected you as a suitable tenant, you can secure the property by transferring a deposit equivalent to one month rent to Boxyroom within 48 hours</p>
	   </div>
	  <div class="how_works">
            <span>4</span> <h3>Move In</h3>
            <p>Once you're satisfied and move into your new rental space, hand the payment code to the landlord.</p>
          </div>
	  <div class="clear"></div>
	</div>
        <div class="space"></div>
      </div>
      <div class="howitwork_bottm_corner_row">
        <div class="howitwork_bottm_leftcor"></div>
        <div class="howitwork_bottm_middle"></div>
        <div class="howitwork_bottm_rightcor"></div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>