
<div id="content">
  <div class="howitwork_container">
    <div class="primary">
      <div class="howitwork_heading">
        <div class="howitwork_heading_left_corner"></div>
        <div class="howitwork_heading_middle_corner">
          <div class="learnmore_heading_icon"></div>
          <div class="howitwork_txt">Why use Boxyroom</div>
        </div>
        <div class="howitwork_heading_right_corner"></div>
      </div>
        <div class="howitwork_main_content">
          <div class="howitwork_content">
	     <div class="learn_more_keys"><h3>Keeps you safe</h3><p class="learn_p">We reduce your chances of being victims of fraudsters who pose as overseas landlords who ask for a deposit using wire transfer and then disappear with the money.</p></div>
	     <div class="learn_more_keys"><h3>Fuss free process</h3>
	     <p class="learn_p">Boxyroom is easy-to-use and highly intuitive.Start using immediately within minutes!</p></div>
	     <div class="learn_more_keys"><h3>Comply with local laws</h3><p class="learn_p">The tenancy agreement and standard checklists to comply with local laws will be handled bilaterally between the landlord and tenant without interference by Boxyroom.</p></div>
	     <div class="learn_more_keys"><h3>Protection for Landlords</h3>
	     <p class="learn_p">We also protect the landlords' interest by compensating them if the tenant cancels her reservation or does not show up</p></div>
	     <div class="clear"></div>
          </div>
          <div class="find_out_more_bttn_row">
            <div class="find_out_more_bttn">
              <a href="/safe"></a>
            </div>
          </div>
        </div>
        <div class="howitwork_bottm_corner_row">
          <div class="howitwork_bottm_leftcor"></div>
          <div class="howitwork_bottm_middle"></div>
          <div class="howitwork_bottm_rightcor"></div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="clr"></div>
</div>