<div id="content">
  <div class="howitwork_container">
    <div class="primary">
      <div class="howitwork_bottm_corner_row">
        <div class="safety_top_leftcor"></div>
        <div class="safety_top_middle"></div>
        <div class="safety_top_rightcor"></div>
        <div class="clr"></div>
      </div>
      <div class="howitwork_main_content">
        <div class="safe_privacy_content">
          <h5>Boxyroom is committed to protect your interests as a tenant or landlord. Here's how Boxyroom keeps you safe</h5>
        </div>
        <div class="howitwork_subheading_row">
          <div class="htw_subheading_left_cor"></div>
	  <div class="htw_subheading_middle_bg">
	    <div class="htw_heading_tenant_icon"></div>
	    <div class="htw_heading_txt">Tenant</div>
	  </div>
	  <div class="htw_subheading_right_cor"></div>
        </div>
	<div class="safety_content">
          <p>To secure your rental home, most landlords require a deposit. We hold your deposit on behalf of the landlord until you successfully move in</p>
          <p>We refund you 100% of the deposit if your rental is unsuccessful due to misrepresentation or cancellation by the landlord.</p>
          <p>We verify landlords' official documents to ensure that their listed properties are genuine. Genuine landlords and properties will have a 'Verified' status.</p>
       </div>
      <div class="howitwork_subheading_row space1">
        <div class="htw_subheading_left_cor"></div>
	<div class="htw_subheading_middle_bg">
          <div class="htw_heading_landlord_icon"></div>
	  <div class="htw_heading_txt">Landlord</div>
	</div>
	<div class="htw_subheading_right_cor"></div>
      </div>
      <div class="safety_content">
        <p>Avoid paying real estate agents exorbitant fees. Pay only a fraction of that.  </p>
	<p>If a tenant cancels her reservation or does not show up, we compensate you 80% of the deposit paid by the 					tenant.</p>
	<p>Boxyroom's tenancy application forms, you're required to screen and verify the identity of potential tenants before accepting them </p>
	<div class="howitwork_subheading_row space1">
          <div class="htw_subheading_left_cor"></div>
	  <div class="htw_subheading_middle_bg">
            <div class="htw_heading_tips_icon"></div>
	    <div class="htw_heading_txt">Tips</div>
          </div>
	  <div class="htw_subheading_right_cor"></div>
	</div>
	<div class="safety_content">
          <p class="safety_p">If a landlord requests you to transfer a deposit using Western Union, Moneygram or direct bank transfer, never agree to it. </p>
          <p class="safety_p">We are not responsible for financial transactions not performed within Boxyroom rental process.</p>
        </div>
	<div class="space"></div>
	<div class="clear"></div>   
      </div>
    </div>
    <div class="howitwork_bottm_corner_row">
      <div class="howitwork_bottm_leftcor"></div>
      <div class="howitwork_bottm_middle"></div>
      <div class="howitwork_bottm_rightcor"></div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>
