
<div>
  <div class="text_align_right">
      <a onclick="lightbox_controller.close(),window.opener.document.location.reload();" id="streetview_close" href="#">
          <img src="/images/active_scaffold/default/close.gif"/>
      </a>
   </div>
   <div class="text_align_center">
      <b>Comment successfully submit</b>
    </div>
</div>
