<%=select("county","county",@counties.map { |county| [county, county]  },{},{:multiple => true, :style => "height:250px;width:200px"})%> <img title="Press CTRL to select multiple counties" src="/images/reimatcher_images/help_icon.png" alt="Help_icon">