<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>WELCOME TO ::: REIMATCHER.COM :::</title>
<link rel="stylesheet" media="" type="text/css" href="/style.css"/>


</head>

<body>
	<div id="maincontainer">
		<h2>Sorry... The property you are looking for has been sold </h2>
		
		<div class="lefbar">
		  <div class="content_img"><!--img src="/images/paperflow.gif"--></div>
		  <div style="clear:both; "></div>
		</div>
		
		<div class="rightbar">
				<div class="menus">
					<ul class="menu">
						<li><a href="http://reimatcher.com/home">Home</a></li>
						<!--li><a href="http://reimatcher.com/account/profiles">Dashboard</a></li-->
						<li><a href="https://loveamericanhomes.tenderapp.com/home">Support</a></li>
					</ul>
				</div>
				<div class="logo"><a href="#"><img src="/images/reim_logo.gif"></a></div>
		</div>		
	<div style="clear:both;"></div>
	</div>
</body>
</html>
