<div class="section1">
        <p class="amount_field" style="padding-bottom: 0px;text-align: center;color: #FF0000;">1</p><p style="padding-top: 0px;text-align: center;color: #FF0000;">APPLICATIONS APPROVED!</p><p style="text-align: center;color: #0033CC;"><%= link_to "Click to secure your rental property now", make_payment_my_application_path(dash_board_application), :id=> "blue_color_link"%></p>
        </p>
</div>

